
.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.75);
    display: none;

    @media (max-width: 801px){
       
        height: auto; 
        overflow: hidden;
    }

    @media (max-width: 359px){
        
        height: auto; 
        overflow: hidden;
    }

    #wpcf7-f6-o1 {
        position:fixed;
        left: 50%;
        top: 15%;
        transform: translate(-50%,-50%);
       
        
       // width: 100%; /* Définit la largeur de l'élément */
        height: 150px; /* Définit une hauteur par défaut pour l'élément */
        
        @media (max-width: 801px){
            height: 55px;
            margin-bottom: 0;
        }

    }
       

    form {
        
        background-image: url('./assets/img/contact-header.png');
        padding: 87px; 
        margin-top: 18px;
        margin-bottom: 21px;
        background-repeat: no-repeat;  
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px !important;
        width: 597px;
        height: auto;
        border: 5px solid #000;
        align-items: center;
        background-color: white;
        
        @media (max-width: 801px){
            width: 400px;
            height: auto; 
            overflow: hidden;
        }

        @media (max-width: 359px){
            width: 350px;
            height: auto; 
            overflow: hidden

        }
        label {
            display: flex !important;
            flex-direction: column !important;
            gap: 1px;
            margin-top: 20px;

        //    @media (max-width: 801px){
          //      margin-top: 14px;
            //}
        }
        p {
            line-height: 0.75;
            margin: 3px 0 0 0;
        }
    }

        
      
 //   .formtitle {
   //     font-family: 'Poppins';
    //}
      
    .wpcf7-text{
        width: 263px;
        height: 40px;
        border-radius: 8px;
        border: 1px solid #B8BBC2;
        padding: 0 3px;
        font-family: 'Poppins';

        @media (max-width: 801px){
            width: 190px;
            height: 40px;
        }

        @media (max-width: 359px) {
            width: 180px;
            height: 35px;
        }
    }
      
    .wpcf7-textarea{
        resize: none;
        width: 263px;
        height: 210px; 
        border-radius: 8px;
        border: 1px solid #B8BBC2;
        padding: 5px 3px;
        font-family: 'Poppins';
        font-size: 13px;

        @media (max-width: 801px){
            width: 190px;
        }

        @media (max-width: 359px) {
            width: 180px;
            height: 100px;
        }
    }
      
    .wpcf7-text:focus, .wpcf7-textarea:focus {
        outline:none;
        border: 2px solid #E00000;
    }
      
    .wpcf7-spinner{
      display: none;
    }
      
    .wpcf7-submit {
        font-family: 'Space Mono' !important;
        background-color: #d8d8d8;
        border: none;
        border-radius: 2px;
        width: 267px;
        height: 50px; 
        padding: 0;
        transition: background-color 1000ms, color 1000ms;
        margin-top: 18px;
        margin-bottom: 36px;

        &:hover {
            color: white;
            background-color: black;
            transition: background-color 1000ms, color 1000ms;
        }

        @media (max-width: 801px){
            width: 195px;
            height: 45px;
        }
    }
}

.wpcf7-response-output {
    display: none;
}